@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] { display: none; }


.breadcrumb {
    @apply flex flex-row gap-4 bg-indigo-100 text-blue-500 font-medium text-base p-3 rounded-sm
}
.panelList {
    @apply cursor-pointer hover:bg-gray-100 hover:text-gray-800 transition-all py-3 text-lg border-t border-gray-300 px-6;
}
.PanelCard-header {
    @apply py-4 bg-gray-100 text-center text-gray-800 font-bold border-b-2 border-b-gray-700
}

.cardBorder {
    @apply border border-gray-100 hover:border-gray-300 hover:shadow-md;
}
.cardImg {
    @apply mb-3 overflow-hidden w-32 mx-auto mt-2 rounded h-44 flex justify-center items-center
}
.price {
    @apply text-sm text-indigo-700 font-bold mb-3;
}
.productWriter {
    @apply text-sm mt-4 text-gray-600;
}
.productName {
    @apply text-sm font-bold text-indigo-900 mb-1;
}
.customLabel {
    @apply font-medium text-gray-700 text-base;
}
.customInput {
    @apply border border-gray-300 py-2 px-3 mt-2 text-base w-full rounded placeholder-zinc-400 transition focus:shadow-md focus:shadow-indigo-100 focus:border-indigo-300
}
.btnSolid {
    @apply bg-indigo-500 px-2 py-2 text-white text-sm rounded border border-indigo-600;
}
.subBtn {
    @apply block text-center text-base text-white font-medium py-2 w-full rounded transition;
}
.btnSuccess {
    @apply bg-emerald-600 hover:bg-emerald-700
}
.btnDanger {
    @apply bg-red-500 hover:bg-red-600
}
.btnIndigo {
    @apply bg-indigo-500 hover:bg-indigo-600
}
.btnSolidDark {
    @apply text-center text-base text-white font-medium py-2 px-3 rounded transition bg-gray-400;
}
.btnDark {
    @apply bg-gray-600 hover:bg-gray-700
}
.panelImg {
    @apply border border-gray-300 rounded w-full h-52
}
.panelBoxs {
    @apply w-full h-44 gap-4 shadow-md shadow-indigo-400 border border-indigo-100 rounded-sm flex flex-col items-center justify-center font-bold hover:scale-105 hover:border-indigo-400 hover:shadow-lg hover:shadow-indigo-300 transition ease-in duration-75
}
.panelIcons {
    @apply w-10 h-10 rounded-full shadow bg-indigo-100 flex items-center justify-center
}
.increaseBtn {
    @apply bg-emerald-600 w-24 text-white h-11 -mb-2 rounded-l;
}
.table {
    @apply border-separate border w-full
}
.tableBorder {
    @apply border-b border-r
}
.btnGroup {
    @apply px-3 py-2 transition text-sm
}
.productImg {
    @apply rounded-sm border-2 border-gray-300 opacity-90 hover:opacity-100 cursor-pointer hover:border-indigo-400 transition-all;
}
.alertInfo {
    @apply w-full px-4 py-3 text-lg font-medium bg-[#d1ecf1] text-[#0c5460] rounded
}