@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');
body {
    font-family: Vazir;
    direction: rtl;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    outline: none;
}
.space-x-normal {
    width: 95%;
    margin: 0 auto 0 auto;
}
.z-index-99 {
    z-index: 999 !important;
}
.z-index-999 {
    z-index: 99999 !important
}
.z-index--1 {
    z-index: -1 !important;
}
.text-medium {
    font-size: 18px;
}
.w-100 {
    width: 100% !important;
}
.h-100 {
    height: 34rem !important;
}
.mt-13 {
    margin-top: 3rem !important;
}

/*header responsive*/
.fa-bars.hamburgerIcon {
    display: none;
}
@media only screen and (max-width: 768px) {
    .navigation ul.list-base {
        display: none;
    }
    .fa-bars.hamburgerIcon {
        display: flex !important;
    }
}



/*slider*/

.slider .slider-items .item {
    display: none;
}

.slider .slider-items .item.active {
    display: flex;
}

.slider .slider-items .item .img {
    animation: zoom 1s linear forwards;
    -webkit-animation: zoom 1s linear forwards;
}

.slider .slider-items .item .caption {
    width: 1400px;
    position: relative;
    margin: auto;
    top: -20%;
    right: 4%;
    text-align: right;
}

.slider .slider-items .item .caption .text h2 {
    font-size: 50px;
    animation: text 1s ease forwards;
    -webkit-animation: text 1s ease forwards;
    text-shadow: 4px 7px 14px #e5e7eb;
}
@media screen and (max-width: 630px) {
    .slider .slider-items .item .caption .text h2 {
        font-size: 40px;
    }
}
@media screen and (max-width: 400px) {
    .slider .slider-items .item .caption .text h2 {
        font-size: 30px;
    }
}
@keyframes text {
    0% {
        opacity: 0;
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}


.slider .controls .next,
.slider .controls .prev {
    top: 50%;
    width: 40px;
    height: 40px;
    transition: all .3s ease;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.slider .controls .next:hover,
.slider .controls .prev:hover {
    background: #c00;
}

.slider .controls .next {
    right: 30px;
}

.slider .controls .prev {
    left: 30px;
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/*404*/

#container-404 {
    width: 100vw;
    height: 100vh;
    background: url(../../src/images/p404.png);
    direction: rtl;
    background-color: #151729;
}
#container-404 .content {
    width: 100%;
}
#container-404 .content h2 {
    font-size: 350px;
}
#container-404 .content h4 {
    font-size: 50px;
    margin: -80px 0 0 0;
}
#container-404 .content p {
    font-size: 20px;
    margin: 25px 0;
}
#container-404 .content button {
    background: #8500ff;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 5px #8500ff;
}
#container-404 .content button:hover {
    transform: scale(1.00002);
    box-shadow: 2px 2px 6px #8500ff;
}

@media screen and (max-width: 768px) {
    #container-404 .content h2 {
        font-size: 275px;
    }
}
@media screen and (max-width: 585px) {
    #container-404 .content h2 {
        font-size: 220px;
    }
    #container-404 .content h4 {
        font-size: 30px;
        margin: -30px auto auto auto;
        display: block;
    }
    #container-404 .content p {
        margin: 10px 20px 30px;
        font-size: 18px;
    }
}
@media screen and (max-width: 416px) {
    #container-404 .content h2 {
        font-size: 130px;
    }
    #container-404 .content h4 {
        font-size: 25px;
    }
    #container-404 .content p {
        font-size: 16px;
        line-height: 1.5;
    }
}
.aceessDenied div h2 {
    font-size: 60px;
    font-weight: 800;
}
.aceessDenied div h4 {
    font-size: 30px;
    font-weight: 600;
}
.aceessDenied div p {
    font-size: 20px;
    font-weight: 500;
}
@media screen and (max-width: 460px) {
    .aceessDenied div img {
        width: 90%;
        height: 250px;
    }
    .aceessDenied div h2 {
        font-size: 40px;
    }
    .aceessDenied div h4 {
        font-size: 20px;
    }
    .aceessDenied div p {
        font-size: 14px;
    }
}
@media screen and (max-width: 360px) {
    .aceessDenied div img {
        width: 90%;
        height: 180px;
    }
    .aceessDenied div p {
        padding: 0 20px;
    }
}