<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - کتابخانه آنلاین</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/Assets/styles/lightslider.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assets/styles/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assets/styles/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <header class="w-full  bg-gray-100">
        <div class="container">
            <nav class="flex items-center justify-between p-8">
                <div class="flex gap-4">
                    <h1><a href="#">Digital Library</a></h1>
                    <a href="#" class="text-indigo-700"> خانه </a>
                </div>
                <div class="flex gap-4">
                    <a href="#" class="text-indigo-700">پنل کاربری</a>
                    <a href="#" class="text-indigo-700">ورود</a>
                    <a href="#" class="text-indigo-700">ثبت نام</a>
                </div>
            </nav>
        </div>
    </header>

    @RenderBody()

    <footer class="py-4 flex justify-between items-center bg-gray-100">
        <h2 class="block mx-auto">تمامی حقوق این وب سایت متعلق به تاپ لرن است</h2>
    </footer>


</body>
<script src="~/Assets/Js/jquery-3.3.1.min.js"></script>
<script src="~/Assets/Js/lightslider.min.js"></script>
<script src="~/Assets/Js/LightSlider.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</html>